<!DOCTYPE HTML>
<html>

<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            margin: 5em;
            padding: 5em;
            background-color: blanchedalmond;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
    </style>
</head>

<body>

    <div class="container">

        <h1 th:if="!${errorMessage}">404 - Page does not exist</h1>
        <a href="home.html" th:href="@{/home}">Back to Home Page</a>

    </div>

</body>

</html>